{% include 'layout.html' %}

{% block body %}
<div class="header">
<a class="header-home" href="/"><i class="zmdi zmdi-home"></i></a>
</div>

<div ng-app="app" ng-controller="MainCtrl">
    <div ng-include="template">

    </div>
</div>
{% endblock body %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-aria.min.js"></script>
<!-- <script src="bower_components/angular-route/angular-route.min.js"></script> -->
<script src="/socket.io/socket.io.js"></script>


<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/services/socket.js"></script>



{% endblock scripts %}
