<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.2/semantic.min.css">
        <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
        <!-- <link href='https://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'> -->
        <link rel='stylesheet' href='style/style.css' />
    <title>{% block title %}{{title}}{% endblock title %}</title>
	</head>

	<body>
        {% block body %}
        {% endblock body %}

    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.2/semantic.min.js"></script>
    {% block scripts %}
    {% endblock scripts %}
</html>
